@{
    ViewData["Title"] = "Servicios";
}

<header class="my-4 text-center">
    <h1 class="fw-bold">Gestión de Servicios</h1>
</header>


<section>
    <div class="container my-4 text-center">
        <div class="row justify-content-center">
            <!-- Botón Inflable -->
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-lg w-100" asp-area="Admin" asp-controller="Inflable" asp-action="Intermedia">
                    <i class="bi bi-balloon"></i> Inflables
                </a>
            </div>

            <!-- Botón Mobiliario -->
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-lg w-100" asp-area="Admin" asp-controller="Mobiliario" asp-action="Index">
                    <i class="bi bi-house"></i> Mobiliario
                </a>
            </div>

            <!-- Botón Alimentación -->
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-lg w-100" asp-area="Admin" asp-controller="Alimentacion" asp-action="Intermedia">
                    <i class="bi bi-basket2-fill"></i> Alimentación
                </a>
            </div>

            <!-- Botón Servicios Adicionales -->
            <div class="col-md-6 mb-3">
                <a class="btn btn-primary btn-lg w-100" asp-area="Admin" asp-controller="ServicioAdicional" asp-action="Index">
                    <i class="bi bi-plus-square-fill"></i> Servicios Adicionales
                </a>
            </div>
        </div>
    </div>
</section>
