@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center mb-3">
    <div class="col-lg-6">
        <h2 style="font-weight: bold; color: #000000;">Gestión de alimentación</h2>
    </div>
    <div class="col-lg-6 text-end">
        <a class="btn shadow-sm custom-btn-servicios" asp-action="Upsert">
            <i class="bi bi-plus-square-fill"></i> Crear nuevo alimento
        </a>
    </div>

</div>

<div class="p-4 border rounded bg-white shadow-sm">
    <table id="tblDatos" class="table table-hover align-middle">
        <thead style="background-color: #e9ecef;" class="text-center">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>

    </table>
</div>

<div class="row mt-3">
    <div class="col-lg-6 ms-auto text-end">
        <a class="btn shadow-sm btn-regresar" href="/Admin/Alimentacion/Intermedia">
            <i class="bi bi-arrow-return-left"></i> Regresar
        </a>
    </div>
</div>



@section Scripts {
    <script src="~/js/alimentacion.js"></script>
}
