@model IEnumerable<SalticosAdmin.Modelos.Inflable>
@using SalticosAdmin.Utilidades

@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-5 fw-bold" style="color: #6f18ff;">Bienvenido al Sistema Administrativo Salticos</h1>


<!-- Imagen -->
<div class="text-center my-4">
    <img src="~/imagenes/UI/1.png" alt="Imagen decorativa" class="img-fluid" style="max-width: 100%; height: auto;">
</div>


<section>
    <!-- Barra de búsqueda -->
    <div class="col-lg-6 col-md-6 col-sm-6 d-flex mt-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" />
            <button class="btn btn-outline-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</section>

<section>

    <div class="container my-4">
        <!-- Botones principales -->
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <a class="btn custom-btn btn-block py-4 fs-4 w-100" asp-area="Admin" asp-controller="Evento" asp-action="Intermedia">
                    <i class="bi bi-calendar-event"></i> Evento
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn custom-btn btn-block py-4 fs-4 w-100" asp-area="Admin" asp-controller="Personal" asp-action="Intermedia">
                    <i class="bi bi-people-fill"></i> Personal
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn custom-btn btn-block py-4 fs-4 w-100" asp-area="Admin" asp-controller="Vehiculo" asp-action="Intermedia">
                    <i class="bi bi-car-front-fill"></i> Transporte
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn custom-btn btn-block py-4 fs-4 w-100" asp-area="Admin" asp-controller="ServicioAdicional" asp-action="Intermedia">
                    <i class="bi bi-tools"></i> Servicios
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn custom-btn btn-block py-4 fs-4 w-100" asp-area="Admin" asp-controller="Bitacora" asp-action="Intermedia">
                    <i class="bi bi-journal-text"></i> Otros
                </a>
            </div>
        </div>
    </div>

    </div>
</section>
