@model SalticosAdmin.Modelos.ViewModels.CapacitacionPersonalVM
@using SalticosAdmin.Utilidades﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Agregar nuevo personal";
}

<form method="post" id="formCapacitacionPersonal" enctype="multipart/form-data">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        @if (Model.IdRelacion != 0)
        {
            titulo = "Editar participación en capacitación";
            <input asp-for="IdRelacion" id="idRelacion" hidden/>
        }
        <input asp-for="IdCapacitacion" id="idCapacitacion" hidden />

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>


        @if (Model.IdRelacion == 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Listado de Personal</label>
                    <select asp-for="IdPersonal" asp-items="@Model.ListaPersonal" class="form-control">
                        <option disabled selected value="">-- Seleccione personal --</option>
                    </select>
                    <span asp-validation-for="IdPersonal" class="text-danger"></span>
                </div>
            </div>
        }

        <br />

        <div class="d-grid gap-2 d-md-block">
            @if (Model.IdRelacion != 0)
            {
                @if (Model.ListaPersonal.Any())
                {
                    <button type="submit" class="btn btn-primary" onfocus="false" asp-route-id="@Model" asp-action="Upsert">
                        <i class="bi bi-pencil-square"></i> Guardar Cambios
                    </button>
                }
                <a asp-action="Index" class="btn btn-success" id="regresarBtn">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            }
            else
            {
                @if (Model.ListaPersonal.Any())
                {
                    <button type="submit" class="custom-btn-personal-inverso btn btn-success">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                }
                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Capacitacion/Index">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            }
        </div>

    </div>
</form>


@section Scripts {


    <script>
      

        var url = window.location.href;

        var numeros = url.match(/\d+/g);
        if (numeros != null) {
            var id = numeros[1];
            var enlaceUrl = "/Admin/CapacitacionPersonal/index/" + id;
            document.getElementById('regresarBtn').setAttribute('href', enlaceUrl);
        }


    </script>
}