@{
    ViewData["Title"] = "Evento";
}

<header class="my-4 text-center">
    <h1 class="fw-bold">Gestión de Eventos</h1>
</header>


<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card text-center border-primary shadow card-evento">
                    <div class="card-body">
                        <i class="bi bi-calendar-plus display-1"></i>
                        <h5 class="card-title mt-3">Eventos</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de evento.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Evento" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center border-primary shadow card-evento">
                    <div class="card-body">
                        <i class="bi bi-person-circle display-1"></i>
                        <h5 class="card-title mt-3">Clientes</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de clientes.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Cliente" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



