@model SalticosAdmin.Modelos.CategoriasEdad

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Categoría por Edad";

}

<form method="post" id="formCategoriasEdad">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar Categoría por Edad";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la Categoría por Edad" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>




        <br />

        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });



        document.getElementById("formCategoriasEdad").addEventListener('submit', function (event) {
            event.preventDefault();
            validarNombreAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/CategoriasEdad/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        document.getElementById("formCategoriasEdad").submit();
                    }
                });
            });
        }

        function validarNombre() {
            var url = '@Url.Content("~/")' + "Admin/CategoriasEdad/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombre.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}