@model SalticosAdmin.Modelos.Vehiculo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo vehiculo";

}

<form method="post" id="formVehiculo">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar vehiculo";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Marca</label>
                <input type="text" asp-for="Marca" class="form-control" placeholder="Marca del vehículo" id="marca" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Modelo</label>
                <input type="text" asp-for="Modelo" class="form-control" placeholder="Modelo del vehículo" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Placa</label>
                <input type="text" asp-for="Placa" class="form-control" placeholder="Placa del vehículo" id="placa"/>
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Tipo de Vehículo</label>
                <input type="text" asp-for="TipoVehiculo" class="form-control" placeholder="Tipo de vehículo" />
                <span asp-validation-for="TipoVehiculo" class="text-danger"></span>
            </div>
        </div>




        <br />

        @if (Model.Id != 0)
        {
            <div class="d-flex justify-content-start gap-2">
                <button type="submit" class="custom-btn-transporte-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                    <i class="bi bi-pencil-square"></i> Guardar cambios
                </button>
                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Vehiculo/Index">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-start gap-2 mt-3">
                <button type="submit" class="custom-btn-transporte-inverso btn btn-primary" onfocus="false">
                    <i class="bi bi-plus-square-fill"></i> Crear
                </button>
                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Vehiculo/Index">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            </div>
        }


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("placa").addEventListener('change', function () {
            validarPlaca();
        });

        document.getElementById("formVehiculo").addEventListener('submit', function (event) {
            event.preventDefault();
            validarPlacaAntesDeEnviar();
        });

        function validarPlacaAntesDeEnviar(){
            var url = '@Url.Content("~/")' + "Admin/Vehiculo/ValidarPlaca";
            var id = '#id';
            var cedula = '#placa';

            $.getJSON(url, { id: $(id).val(), placa: $(placa).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var placaInput = document.getElementById("placa");
                        swal("Error", "Placa ya existe", "error");
                        placaInput.value = "";
                        return;
                    } else {
                        document.getElementById("formVehiculo").submit();
                    }
                });
            });
        }

        function validarPlaca() {
            var url = '@Url.Content("~/")' + "Admin/Vehiculo/ValidarPlaca";
            var id = '#id';
            var placa = '#placa';

            $.getJSON(url, { id: $(id).val(), placa: $(placa).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var placa = document.getElementById("placa");
                        swal("Error", "Placa ya existe", "error");
                        placa.value = "";
                    }
                });

            })

        }

    </script>
}