@model SalticosAdmin.Modelos.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear usuario";

}


<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != null)
        {
            titulo = "Actualizar usuario";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="row">
            <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
        </div>



        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del usuario" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Apellido</label>
                <input type="text" asp-for="Apellido" class="form-control" placeholder="Apellidos del usuario" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Correo</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Correo del usuario" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>



        <br />
        <div>
            @if (Model.Id != null)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" class="custom-btn-otros-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Usuario/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
        </div>
    </div>
</form>