@model SalticosAdmin.Modelos.ViewModels.EventoInflableVM
@using SalticosAdmin.Utilidades﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Agregar nuevo inflable";
}
<form method="post" id="formEventoInflable" enctype="multipart/form-data">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        @if (Model.IdRelacion != 0)
        {
            titulo = "Editar Inflable en el Evento";
            <input type="hidden" asp-for="IdRelacion" id="idRelacion" />
            <input type="hidden" asp-for="IdInflable" id="idInflable" />
        }
        <input type="hidden" asp-for="IdEvento" id="idEvento" />


        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>


        @if (Model.IdRelacion == 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Lista de inflables</label>
                    <select asp-for="IdInflable" asp-items="@Model.ListaInflable" class="form-control">
                        <option disabled selected value="">-- Seleccione inflable --</option>
                    </select>
                    <span asp-validation-for="IdInflable" class="text-danger"></span>
                </div>
            </div>
        }

        <br />

        <div class="d-grid gap-2 d-md-block">
            @if (Model.IdRelacion != 0)
            {
                <button type="submit" class="custom-btn-evento-inverso btn btn-success" onfocus="false" asp-route-id="@Model" asp-action="Upsert">
                    <i class="bi bi-pencil-square"></i> Guardar Cambios
                </button>
                <a class="btn shadow-sm btn-regresar btn-md" id="regresarBtn">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            }
            else
            {
                @if (Model.ListaInflable.Any())
                {
                    <button type="submit" class="custom-btn-evento-inverso btn btn-success"><i class="bi bi-plus-square-fill"></i> Crear</button>
                }
                <a class="btn shadow-sm btn-regresar btn-md" id="regresarBtn">
                    <i class="bi bi-arrow-return-left"></i> Regresar
                </a>
            }
        </div>

    </div>
</form>

@section Scripts {


    <script>
      
        var url = window.location.href;

        var numeros = url.match(/\d+/g);
        if (numeros != null) {
            var id = numeros[1];
            var enlaceUrl = "/Admin/EventoInflable/index/" + id;
            document.getElementById('regresarBtn').setAttribute('href', enlaceUrl);
        }

    </script>
}