@model SalticosAdmin.Modelos.Cliente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear cliente";

}

<form method="post" id="formCliente">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar cliente";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del Cliente" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Apellidos</label>
                <input type="text" asp-for="Apellidos" class="form-control" placeholder="Apellidos del cliente" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Cédula</label>
                <input type="text" asp-for="Cedula" class="form-control" placeholder="Cedula del cliente" id="cedula"/>
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Teléfono</label>
                <input type="text" asp-for="Telefono" class="form-control" placeholder="Teléfono del cliente" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Correo</label>
                <input type="text" asp-for="Correo" class="form-control" placeholder="Correo del cliente" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
        </div>



        <br />

        <div>
            @if (Model.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" onclick="return validarCedulaAntesDeEnviar()"  class="custom-btn-evento-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Cliente/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" onclick="return validarCedulaAntesDeEnviar()" class="custom-btn-evento-inverso btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Cliente/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("cedula").addEventListener('change', function () {
            validarCedula();
        });



        document.getElementById("formCliente").addEventListener('submit', function (event) {
            event.preventDefault();
            validarCedulaAntesDeEnviar();
        });

        function validarCedulaAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/Cliente/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var cedulaInput = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedulaInput.value = "";
                        return;
                    } else {
                        document.getElementById("formCliente").submit();
                    }
                });
            });
        }




        function validarCedula() {
            var url = '@Url.Content("~/")' + "Admin/Cliente/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var cedula = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedula.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}