@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Esta aplicación actualmente no tiene un servicio de envío de correos electrónicos configurado. Consulta <a href="https://aka.ms/aspaccountconf">esta documentación</a> para aprender cómo configurar un servicio de correo electrónico real.
            Normalmente, este enlace sería enviado por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haz clic aquí para confirmar tu cuenta</a>
        </p>
    }
    else
    {
        <p>
            Por favor, revisa tu correo electrónico para confirmar tu cuenta.
        </p>
    }
}
