@model SalticosAdmin.Modelos.TarifasTransporte

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear tarifa de transporte";

}

<form method="post" id="formTarifa">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar tarifa de transporte";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Provincia</label>
                <select asp-for="Provincia" class="form-select" id="provincia">
                    <option value="" disabled selected>-- Seleccione una provincia --</option>
                    <option value="San Jose">San José</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Guanacaste">Guanacaste</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Limon">Limón</option>
                </select>
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Precio</label>
                <div class="input-group">
                    <span class="input-group-text">₡</span>
                    <input asp-for="Precio" class="form-control" type="number" />
                </div>
            </div>
        </div>

        <br />

        <div>
            @if (Model.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" class="custom-btn-transporte-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/TarifasTransporte/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" onclick="return validarProvinciaAntesDeEnviar()" class="custom-btn-transporte-inverso btn btn-success">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/TarifasTransporte/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("provincia").addEventListener('change', function () {
            validarProvincia();
        });


        document.getElementById("formProvincia").addEventListener('submit', function (event) {
            event.preventDefault();
            validarProvinciaAntesDeEnviar();
        });

        function validarProvinciaAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/TarifasTransporte/ValidarProvincia";
            var id = '#id';
            var provincia = '#provincia';

            $.getJSON(url, { id: $(id).val(), provincia: $(provincia).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("provincia");
                        swal("Error", "Provincia ya Existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        document.getElementById("formProvincia").submit();
                    }
                });
            });
        }


        function validarProvincia() {
            var url = '@Url.Content("~/")' + "Admin/TarifasTransporte/ValidarProvincia";
            var id = '#id';
            var provincia = '#provincia';

            $.getJSON(url, { id: $(id).val(), provincia: $(provincia).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var provincia = document.getElementById("provincia");
                        swal("Error", "Provincia ya Existe", "error");
                        provincia.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}