@{
    ViewData["Title"] = "Lista de Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row align-items-center mb-4">
        <div class="col-lg-6">
            <h2 class="text-primary">Lista de Tareas</h2>
        </div>
        <div class="col-lg-6 text-end">
            <a class="btn btn-outline-primary" asp-action="Upsert">
                <i class="bi bi-plus-square-fill"></i> Crear Nueva Tarea
            </a>
        </div>
    </div>

    <div id="task-list" class="row gy-3">
        <!-- Aquí se cargarán las tareas como tarjetas -->
    </div>
</div>

@section Scripts {
    <script src="~/js/tarea.js"></script>
}