﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center mb-3">
    <div class="col-lg-6">
        <h2 style="font-weight: bold; color: #000000;">Gestión de seguros</h2>
    </div>
    <div class="col-lg-6 text-end">
        <a class="btn shadow-sm custom-btn-otros" asp-action="Upsert">
            <i class="bi bi-plus-square-fill"></i> Crear nuevo seguro
        </a>
    </div>

</div>

<br />

<div class="p-4 border rounded bg-white shadow-sm">

    <table id="tblDatos" class="table table-hover align-middle">
        <thead style="background-color: #e9ecef;" class="text-center">
            <tr>
                <th>Tipo Seguro</th>
                <th>Nombre Aseguradora</th>
                <th>Numero Poliza</th>
                <th>Fecha Inicio</th>
                <th>Fecha Vencimiento</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

<div class="row mt-3">
    <div class="col-lg-6 ms-auto text-end">
        <a class="btn shadow-sm btn-regresar" href="/Admin/Bitacora/Intermedia">
            <i class="bi bi-arrow-return-left"></i> Regresar
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/seguro.js"></script>
}