@model SalticosAdmin.Modelos.ViewModels.PersonalVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 style="font-weight: bold; color: #000000;">Gestión del personal</h2>
    </div>
    <div class="col-lg-6 text-end">
        <a class="btn shadow-sm custom-btn-personal" asp-action="Upsert">
            <i class="bi bi-plus-square-fill"></i> Crear nuevo personal
        </a>
    </div>



    <form id="formFiltrar" method="get" class="mt-4 " action="@Url.Action("Index", "Personal")">


        <div class="row g-3 align-items-end">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Rol</label>
                    <select asp-for="Personal.RolPersonalId" id="rolPersonalSelect" name="idRolPersonal" asp-items="@Model.RolPersonalLista" class="form-select">
                        <option disabled selected> -- Seleccione un rol --</option>
                    </select>
                </div>
            </div>

            <!-- Botón Buscar -->
            <div class="col-lg-2 col-md-3">
                <button type="button" class="btn shadow-sm custom-btn-personal-inverso w-100" onclick="refreshDataTable()">
                    <i class="bi bi-search"></i> Buscar
                </button>
            </div>

            <!-- Botón Limpiar -->
            <div class="col-lg-2 col-md-3">
                <button type="button" class="btn shadow-sm btn-regresar w-100" onclick="clearDataTable()">
                    <i class="bi bi-arrow-counterclockwise"></i> Limpiar
                </button>
            </div>
        </div>
    </form>
</div>



<br />

<div class="p-4 border rounded bg-white shadow-sm">
    <table id="tblDatos" class="table table-hover align-middle">
        <thead style="background-color: #e9ecef;" class="text-center">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Cédula</th>
                <th>Fecha de nacimiento</th>
                <th>Fecha de entrada</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="row mt-3">
    <div class="col-lg-6 ms-auto text-end">
        <a class="btn shadow-sm btn-regresar" href="/Admin/Personal/Intermedia">
            <i class="bi bi-arrow-return-left"></i> Regresar
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/personal.js"></script>
}