@model SalticosAdmin.Modelos.ViewModels.PersonalVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class "col-lg-6">
        <h2 class="text-primary">Personal de la Empresa</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i> Crear Nuevo Personal </a>
    </div>


    <form id="formFiltrar" method="get" class=" " action="@Url.Action("Index", "Personal")">


        <div class="row filter-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Rol</label>
                    <select asp-for="Personal.RolPersonalId" id="rolPersonalSelect" name="idRolPersonal" asp-items="@Model.RolPersonalLista" class="form-select">
                        <option disabled selected> -- Seleccione un rol --</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="refreshDataTable()">
                    <i class="bi bi-search"></i> Buscar Personal
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary" onclick="clearDataTable()">
                    <i class="bi bi-arrow-counterclockwise"></i> Limpiar Filtro
                </button>
            </div>
        </div>
    </form>


</div>

<br />

<div class="p-4 border rounded bg-light">

    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Cedula</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Entrada</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-return stbgreen-btn" href="/">
                <i class="bi bi-arrow-return-left"></i> Regresar
            </a>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/personal.js"></script>
}