@model SalticosAdmin.Modelos.ViewModels.PersonalVM
@using SalticosAdmin.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Nuevo Personal";
}

<form method="post" id="formPersonal">

    @if(Model.Personal.Id != 0)
    {
        titulo = "Editar Personal";
        <input asp-for="Personal.Id" hidden/>
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <input asp-for="Personal.Nombre" class="form-control"/>
                            <span asp-validation-for="Personal.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Apellidos</label>
                            <input asp-for="Personal.Apellidos" class="form-control" />
                            <span asp-validation-for="Personal.Apellidos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Teléfono</label>
                            <input asp-for="Personal.Telefono" class="form-control" />
                            <span asp-validation-for="Personal.Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Correo</label>
                            <input asp-for="Personal.Correo" class="form-control" />
                            <span asp-validation-for="Personal.Correo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cedula</label>
                            <input asp-for="Personal.Cedula" class="form-control" id="cedula"/>
                            <span asp-validation-for="Personal.Cedula" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha de Nacimiento</label>
                            <input asp-for="Personal.FechaNacimiento" class="form-control" type="date" />
                            <span asp-validation-for="Personal.FechaNacimiento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha de Entrada</label>
                            <input asp-for="Personal.FechaEntrada" class="form-control" type="date" />
                            <span asp-validation-for="Personal.FechaEntrada" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Rol</label>
                            <select asp-for="Personal.RolPersonalId" asp-items="@Model.RolPersonalLista" class="form-select">
                                <option disabled selected>-- Seleccione un Rol --</option>
                            </select>
                            <span asp-validation-for="Personal.RolPersonalId" class="text-danger"></span>
                        </div>
                    </div>

                    <br />

                    <div class="d-grid gap-2 d-md-block">
                        @if(Model.Personal.Id != 0)
                        {
                            <partial name="_BotonesActualizarYRegresar" model="Model.Personal.Id" />
                        }
                        else
                        {
                            <partial name="_BotonesCrearYRegresar" />
                        }

                    </div>

                </div>
            </div>
        </div>

    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("cedula").addEventListener('change', function () {
            validarCedula();
        });



        document.getElementById("formPersonal").addEventListener('submit', function (event) {
            event.preventDefault();
            validarCedulaAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/Personal/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var cedulaInput = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedulaInput.value = "";
                        return;
                    } else {
                        document.getElementById("formPersonal").submit();
                    }
                });
            });
        }




        function validarCedula() {
            var url = '@Url.Content("~/")' + "Admin/Personal/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var cedula = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedula.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}

