﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-prim">Lista de Registros de Bitacora</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-3">
            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
            <input type="date" id="fechaInicio" class="form-control" />
        </div>
        <div class="col-lg-3">
            <label for="fechaFin" class="form-label">Fecha de Fin</label>
            <input type="date" id="fechaFin" class="form-control" />
        </div>
        <div class="col-lg-6 d-flex align-items-end">
            <button id="btnBuscar" class="btn btn-primary me-3">
                <i class="bi bi-search"></i> Filtrar
            </button>
            <button type="button" class="btn btn-secondary ms-3" id="btnLimpiarFiltro">
                <i class="bi bi-arrow-counterclockwise"></i> Limpiar Filtro
            </button>
        </div>
    </div>

    <br />

    <div class="p-4 border rounded bg-light table-responsive">
        <table id="tblDatos" class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Accion</th>
                    <th>Usuario</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<br />
<br />

<div class="row mt-3">
    <div class="col-lg-6">
        <a class="btn btn-success" href="/Admin/Bitacora/Intermedia">
            <i class="bi bi-arrow-return-left"></i> Regresar
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/bitacora.js"></script>
}