@{
    ViewData["Title"] = "Bitacora";
}

<header class="my-4 text-center">
    <h1 class="fw-bold">Gestión de Funcionalidades Adicionales</h1>
</header>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-clipboard-data display-1"></i>
                        <h5 class="card-title mt-3">Bitácora</h5>
                        <p class="card-text">Accede al módulo para visualizar los registros bitácora.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Bitacora" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-person-lines-fill display-1"></i>
                        <h5 class="card-title mt-3">Contactos</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de contactos.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Contacto" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-tools display-1"></i>
                        <h5 class="card-title mt-3">Herramientas</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de herramientas.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Herramienta" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-box-seam display-1"></i>
                        <h5 class="card-title mt-3">Proveedores</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de proveedores.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Proveedor" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-shield-check display-1"></i>
                        <h5 class="card-title mt-3">Seguros</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de seguros.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Seguro" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-center border-primary shadow card-otros">
                    <div class="card-body">
                        <i class="bi bi-people-fill display-1"></i>
                        <h5 class="card-title mt-3">Usuarios</h5>
                        <p class="card-text">Accede al módulo para crear, editar, actualizar y eliminar información de usuarios.</p>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row mt-3">
    <div class="col-lg-6">
        <a class="btn btn-success" href="/">
            <i class="bi bi-arrow-return-left"></i> Regresar
        </a>
    </div>
</div>