@model SalticosAdmin.Modelos.Capacitacion

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Capacitacion";

}

<form method="post" id="formCapacitacion">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar Capacitacion";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>


        @if (Model.Id != 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha</label>
                    <input asp-for="Fecha" class="form-control" type="date"
                           min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha</label>
                    <input asp-for="Fecha" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Tema</label>
                <input type="text" asp-for="Tema" class="form-control" placeholder="Tema de la Capacitacion" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Duración</label>
                <input type="text" asp-for="Duracion" class="form-control" placeholder="Duracion de la Capacitacion" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
        </div>


        <br />

        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>



    </script>
}