body {
    background-color: #f8f9fa; /* Cambia este valor por el color que desees */
}

.custom-btn {
    background-color: #8a2bff; /* Fondo blanco */
    color: #f8f9fa; /* Texto naranja */
}

    .custom-btn:hover {
        background-color: #8a2bff; /* Fondo naranja al pasar el cursor */
        color: white; /* Texto blanco en hover */
    }

