body {
    background-color: #f8f9fa; /* Cambia este valor por el color que desees */
}

.custom-btn {
    background-color: #8a2bff; /* Fondo blanco */
    color: #f8f9fa; /* Texto naranja */
}

    .custom-btn:hover {
        background-color: #8a2bff; /* Fondo naranja al pasar el cursor */
        color: white; /* Texto blanco en hover */
    }


/* CSS */
.full-width-image {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .full-width-image .img-banner {
        width: 100%;
        height: auto;
        display: block;
    }

