@model SalticosAdmin.Modelos.Herramienta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear herramienta";

}

<form method="post" id="formHerramienta">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>

            @if (Model.Id != 0)
            { // Actualizar
                titulo = "Actualizar herramienta";
                <input type ="hidden" asp-for="Id" id="id"/>
            }

            <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type ="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la herramienta" id="nombre"/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Descripcion</label>
                    <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion de la herramienta"/>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Cantidad</label>
                    <input type="number" asp-for="Cantidad" class="form-control" placeholder="Cantidad de la herramienta" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>


            <br />

            <div>

            @if (Model.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" onclick="return validarNombreAntesDeEnviar()" class="custom-btn-otros-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Herramienta/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" onclick="return validarNombreAntesDeEnviar()" class="custom-btn-otros-inverso btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Herramienta/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }

        </div>
        

    </div>


</form>


@section Scripts{
    <partial name ="_ValidationScriptsPartial" />

    <script>

        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });


        document.getElementById("formHerramienta").addEventListener('submit', function (event) {
            event.preventDefault();
            validarNombreAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/Herramienta/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        document.getElementById("formHerramienta").submit();
                    }
                });
            });
        }


        function validarNombre()
        {
            var url = '@Url.Content("~/")' + "Admin/Herramienta/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {

                $.each(data, function (key, value) {
                    if(value){
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya Existe", "error");
                        nombre.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}